.outside{
    display: flex;
    flex-direction: row;
    margin-left:80px;
    height: 500px;
    justify-content:center;
    
    margin-top: 180px;
    margin-bottom: 120px;
}



.inside-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 500px;

}
.heading{
    align-self: start;
    
    font-size: 40px;
    font-weight: 500;
    width: 400px;
    margin-bottom: 20px;
}
.content{
    font-size: 20px;
    width: 500px;
    margin-bottom: 10px;
}
.cite{
    font-size: 10px;
    margin-bottom: 50px;
    font-style: italic;
}
.create-account{
    font-size: 18px;
    display: flex;
    height: 50px;
    width: 164px;
    background-color: #3941CF;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
    
}
.create-account:hover{
    
    transform: scale(1.1);
}
.imag{
    width: 500px;
}
.image1{
    margin-left: 30px;
}